@import '../../scss/vars';

.notification {
  border-radius: 0.25rem;
  box-shadow: 0 0.063rem 0.188rem transparentize($black, 0.7);
  color: $white;
  margin-bottom: 0.5rem;
  padding: 0.875rem 1.25rem;
  position: relative;
  word-break: break-all;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  padding-right: 1rem;
}

.close {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  line-height: 0;
  margin: 0;
  outline: 0;
  padding: 0.375rem;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  > svg {
    fill: $white;
    height: 1.25rem;
    width: 1.25rem;
  }
}

$variants: (('success', $success), ('warning', $warning), ('danger', $danger));

@each $name, $color in $variants {
  .#{$name} {
    background: $color;
  }
}
