@import '../../scss/vars';

.appLoading {
  align-items: center;
  background: $primary;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
