@import '../../scss/vars';

.pageNotFound {
  align-items: center;
  color: $primary;
  display: flex;
  flex: 1;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
  padding: 1.5rem;
}

.app {
  text-align: center;
}

.appLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 10rem;
  pointer-events: none;
}

.appHeader {
  align-items: center;
  background-color: #282c34;
  color: $white;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  min-height: 100vh;
}
