@import '../../../scss/vars';

.root {
  background: $white;
  border: $border-width-base solid $input-border-color;
  font-family: $font-family-base;
  font-size: 1rem;
  line-height: $line-height-base;
  outline: 0;
  padding: 0.438rem 1rem;
  transition: border-color 0.3s ease;
  width: 100%;

  &:focus {
    border-color: $input-border-focused-color;
  }

  &[disabled] {
    background: $input-disabled-background;
  }

  &::placeholder {
    color: $placeholder-color;
  }
}

.error {
  &,
  &:focus {
    border-color: $danger;
  }
}
