@import '../../scss/vars';

.pageNotFound {
  align-items: center;
  color: $primary;
  display: flex;
  flex: 1;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
  padding: 1.5rem;
}
