@import './vars';

@mixin overlay($position: fixed) {
  bottom: 0;
  left: 0;
  position: $position;
  right: 0;
  top: 0;
}

@mixin paper() {
  background: $white;
  box-shadow: 0 0.063rem 0.188rem $paper-box-shadow-color;
}
