// Colors
$primary: #f05156;
$secondary: #20a4f3;
$success: #008000;
$warning: #ffc107;
$danger: #f00;
$info: #d3d3d3;

$white: #fff;
$black: #000;

$gray: #f6f7f9;
$dark-gray: #354052;
$button-gray: #e7e8e9;

$light-red: #fdeced;
$light-gray: rgba(211, 211, 211, 0.3);

$icon-success: #0cb80c;
$icon-danger: #ea1a21;

$body-bg: #f6f7f9;
$text-color: #3c3c40;
$text-disabled: #666;
$text-color-light: #999;
$placeholder-color: #d0d2d3;

$separator-border-color: #e6eaed;
$paper-separator-color: #f4f4f6;
$paper-box-shadow-color: #d0d2d3;

// Fonts
$font-family-base: 'Lato', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;

// Borders
$border-width-base: 0.063rem;
$border-width-bold: 0.125rem;

// Sizes
$font-size-sm: 0.75rem;
$font-size-base: 1rem;

$line-height-base: 1.5;

// Inputs
$input-border-color: #dcdddf;
$input-border-focused-color: $secondary;
$input-disabled-background: darken($white, 4%);

// Loader
$loader-sm: 1.5rem;
$loader-md: 2.5rem;

$header-user-role-color: #a6a8ab;

//Screen sizes for media
$screen-min-width: 64rem;
